.u-section-1 .u-sheet-1 {
  min-height: 252px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 142px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 142px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  margin: 15px auto 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 142px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 142px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 60px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 400;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 117px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}